<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  <link rel="stylesheet" type="text/css" href="/static/spot_style.css">
</head>
<body>
      <div class="content content-overlay" >
        <img src="/static/bgimage.png" alt="" class="Logo">
        <div class="cls">Congratulations</div>
        <div class="name">{{content.name}}</div>
        <div class="par">To own your C Class</div>
        <div class="par">Pixcom Showroom</div>
        <div class="button-container">
          <div class="bnt-con">
            <button>Start Session</button>
            <button>Key Up</button></div>
          <div class="bnt-con">
            <button>Start Show</button>
            <button>End Show</button>
          </div>
        </div>

    </div>
</body>
</html>